<h1> Lista de Autores </h1>
<p>Estos son los Autores de la BD.</p>

<%= link_to "Crear Autor", action: 'new' %>
<br>
<br>
<table border="-1">
    <thead>
        <tr>
            <th> Nombre </th>
            <th> Nacionalidad </th>
            <th> Idioma </th>
            <th> Ganancias Anuales </th>
            <th> Acciones </th>
        </tr>
    </thead>
    <tbody>
        <% @autores.each() do |author| %>
            <tr>
                <td> <%= author.nombre %> </td>
                <td> <%= author.nacionalidad %> </td>
                <td> <%= author.idioma %> </td>
                <td> <%= author.ganancias_anuales %> </td>
                <td> <%= link_to "Mostrar", action: 'show', id: author.id  %> </td>
            </tr>
        <%end%>
    </tbody>
</table>
