<%= link_to 'back', :back %>
<br>

<h1> Crear Nuevo Autor </h1>

<%= form_for @author, url: {action: "create"}, html: {class: "css_class"} do |autor| %>
    <p> Nombre </p>
    <%= autor.text_field :nombre %>
    <br> <br>

    <p> Nacionalidad </p>
    <%= autor.text_field :nacionalidad %>
    <br> <br>
    
    <p> Idioma </p>
    <%= autor.text_field :idioma %>
    <br> <br>

    <p> Ganancias Anuales </p>
    <%= autor.text_field :ganancias_anuales %>
    <br> <br>

    <%= autor.submit "Crear Autor" %>
<%end%>