<%= link_to 'back', :back %>
<br>

<h1> Crear Nuevo Autor </h1>

<%= form_for @author, url: {action: "create"}, html: {class: "css_class"} do |autor| %>
    <label form="nombre"> Nombre:</label> 
    <br>
    <%= autor.text_field :nombre %>
    <br> <br>

    <label form="nacionalidad"> Nacionalidad:</label> 
    <br>
    <%= autor.text_field :nacionalidad %>
    <br> <br>
    
    <label form="idioma"> Idioma:</label> 
    <br>
    <%= autor.text_field :idioma %>
    <br> <br>

    <label form="ganancias"> Ganancias Anuales:</label> 
    <br>
    <%= autor.text_field :ganancias_anuales %>
    <br> <br>

    <%= autor.submit "Crear Autor" %>
<%end%>