<h1> Lista de Usuarios </h1>
<p>Estos son los Usuarios de la BD.</p>

<%= link_to "Crear Usuario", action: 'new' %>
<br> <br>

<table border="-1">
    <thead>
        <tr>
            <th> Nombre </th>
            <th> Teléfono </th>
            <th> Dirección </th>
            <th> Observaciones </th>
            <th> Acciones </th>
        </tr>
    </thead>
    <tbody>
        <% @usuarios.each() do |user| %>
            <tr>
                <td> <%= user.nombre %> </td>
                <td> <%= user.telefono %> </td>
                <td> <%= user.direccion %> </td>
                <td> <%= user.observaciones %> </td>
                <td> 
                    <%= link_to "Mostrar", action: 'show', id: user.id %> 
                    <%= link_to "Editar", action: 'edit', id: user.id %>
                </td>
            </tr>
        <%end%>
    </tbody>
</table>
