<h1> Lista de Libros </h1>
<p>Estos son los Libros de la BD.</p>

<table border="-1">
    <thead>
        <tr>
            <th> Título </th>
            <th> Idioma </th>
            <th> Páginas </th>
            <th> Descripción </th>
            <th> Autor </th>
            <th> Categoría </th>
            <th> Editorial </th>
            <th> Acciones </th>
            
        </tr>
    </thead>
    <tbody>
        <% @libros.each() do |book| %>
            <tr>
                <td> <%= book.titulo %> </td>
                <td> <%= book.idioma %> </td>
                <td> <%= book.paginas %> </td>
                <td> <%= book.descripcion %> </td>

                <%unless book.author.nil?%>
                    <td> <%= book.author.nombre %> </td>
                <%end%>
                <%unless book.category.nil?%>
                    <td> <%= book.category.categoria %> </td>
                <%end%>
                <%unless book.editorial.nil?%>
                    <td> <%= book.editorial.nombre %> </td>
                <%end%>

                <td> <%= link_to "Mostrar", action: 'show', id: book.id %> </td>
            </tr>
        <%end%>
    </tbody>
</table>
