<%= link_to 'back', :back %>

<h1> Creación de Editoriales </h1>

<%= form_for @editorial, url: {action: 'create'}, html: {class: "css_class"} do |editorial|  %>
    <label> Nombre: </label>
    <br>
    <%= editorial.text_field :nombre %>
    <br> <br>

    <label> Pais: </label>
    <br>
    <%= editorial.text_field :pais %>
    <br> <br>

    <label> Teléfono: </label>
    <br>
    <%= editorial.text_field :telefono %>
    <br> <br>

    <%= editorial.submit "Crear Editorial" %>
<%end%>